<header class="header">
    <ul>
        <li>adaTask</li>
    </ul>
</header>
<main class="main">
    <section class="section">
        <form class="formAdd" action="">
            <input type="text" placeholder="Nueva Tarea">
            <button type="submit">Agregar</button>
        </form>
        <form class="formSearch" action="">
            <div>
                <input type="text" placeholder="busca tu tarea">
                <button type="submit">Buscar</button>
            </div>
            <ul class="taskList completed js_taskList">



            </ul>



        </form>
    </section>
</main>
<footer class="footer">
    <ul>
        <li></li>
        <li></li>
    </ul>
</footer>